.main
{
	height:200px;
	width:1350px;
	margin-top:-15px;
background-color:moccasin;
	}
	.text
	{
	color:#009f9f;
	}
	.name
	{
	margin-left:100px;
	color:#5c5c5c;
	}
	.roll
	{
	margin-left:100px;
	color:#5c5c5c;
	}
	.branch
	{
	margin-left:100px;
	color:#5c5c5c;
	}
	.common
	{
	color:#808000;
	}
	.sem
	{
	color:#5c5c5c;
	margin-top:-150px;
	margin-left:800px;
	}
	.fine
	{
	color:#5c5c5c;
	margin-left:800px;
	}
	.bg
	{
	color:#5c5c5c;
	margin-left:800px;
	}
	.button
	{
	margin-left:600px;
	height:30px;
	width:100px;
	background-color:gold;
	}