<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>name</servlet-name>
    <servlet-class>book_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>name</servlet-name>
    <url-pattern>/next</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>Authuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/my</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ava</servlet-name>
    <servlet-class>Available_Book_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ava</servlet-name>
    <url-pattern>/raj</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>student</servlet-name>
    <servlet-class>Student_Databse_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student</servlet-name>
    <url-pattern>/stu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>issue</servlet-name>
    <servlet-class>Issue_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issue</servlet-name>
    <url-pattern>/isue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sec1</servlet-name>
    <servlet-class>Entry_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sec1</servlet-name>
    <url-pattern>/section</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kam1</servlet-name>
    <servlet-class>Confirm_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kam1</servlet-name>
    <url-pattern>/yaa1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rissue</servlet-name>
    <servlet-class>Final_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rissue</servlet-name>
    <url-pattern>/final</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sear</servlet-name>
    <servlet-class>Search_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sear</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aman</servlet-name>
    <servlet-class>Ahead_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aman</servlet-name>
    <url-pattern>/ahead</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ret</servlet-name>
    <servlet-class>Return_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ret</servlet-name>
    <url-pattern>/return</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>last</servlet-name>
    <servlet-class>Return2_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>last</servlet-name>
    <url-pattern>/confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>meena</servlet-name>
    <servlet-class>Style_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>meena</servlet-name>
    <url-pattern>/style</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>complete</servlet-name>
    <servlet-class>Complete_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complete</servlet-name>
    <url-pattern>/comp</url-pattern>
  </servlet-mapping>
</web-app>